.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

}
.map-responsive iframe{

    left:0;
    top:0;
    height:75%;
    width:100%;
    position: absolute;
}

.imgfondocontacto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
/* Header */
header::before {
   content: "";
   display: block;
   margin-bottom: 80px;
}

nav {
   width: 100%;
   height: auto;
   background: #fff;
   border-bottom: 1px solid transparent;
   box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
   position: fixed;
   top: 0;
   z-index: 100;
   transition: ease-in-out 0.5s;
}
/*barra superior*/
.nav {
   display: flex;
   justify-content: space-between;
   height: auto;
   width: 100%;
   align-items: center;
   padding: 0 40px;
}
.header-btn {
   font-size: 20px;
 }
.enlaces-header {
       color: white;
       text-decoration: none;
     }

/*logo*/
.nav .logo {
   height: 120px;
   

}
a{
   font-size: 170%;
   color: #000000;
}
l{
   font-size: 30px;
}
.map-responsive{
   width: 70%;
}

.title{
   font-family: "Josefin Slab", "sans-serif";
   font-weight: 400;
   font-style: 20px;
   font-size: 48px;
   line-height: 58px;
}
.logo{
   display: flex;
   float: left;
   padding-right: 60%;
}
.contenedor-nav{
   display: none;
   justify-content: space-between;
}

.header-btn{
   font-size: 20px;
   display: none;
}



  .cajacontactos{
    display: inline-block;
    justify-content: center;
    position: relative;

}
.letra1{
    font-family: "Josefin Slab", "sans-serif";
    font-style: normal;
    border-top: 40px;
    display: grid;
}


/* responsive text*/
  .divcuerpo{
    height: 100px;
    background-color: red;
    border: 1px solid black;
  }

  /*agarandar imagen*/
.img1 {
    margin: auto;
    cursor: pointer;
}
.img1:hover {
    transform: scale(1.1); 
    transition: 2s;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background: #eee;
}

.container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   color:#444;
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.container .products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
}

.container .products-container .product{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   cursor: pointer;
}

.container .products-container .product:hover{
   outline: .2rem solid #222;
   outline-offset: 0;
}

.container .products-container .product img{
   height: 25rem;
}

.container .products-container .product:hover img{
   transform: scale(.9);
}

.container .products-container .product h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:#444;
}

.container .products-container .product:hover h3{
   color:#27ae60;
}

.container .products-container .product .price{
   font-size: 2rem;
   color:#444;
}

.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 40rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   height: 30rem;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#000000;
   font-size: 4rem;
}
.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview .stars{
   padding:1rem 0;
   font-size: 1.7rem;
}

.products-preview .preview .stars i{
   color:#27ae60;
}

.products-preview .preview .stars span{
   color:#999;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:1rem 0;
   font-size: 1.6rem;
   color:#777;
}

.products-preview .preview .price{
   padding:1rem 0;
   font-size: 2.5rem;
   color:#27ae60;
}

.products-preview .preview .buttons{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 1rem;
}

.products-preview .preview .buttons a{
   flex:1 1 16rem;
   padding:1rem;
   font-size: 1.8rem;
   color:#444;
   border:.1rem solid #444;
}

.products-preview .preview .buttons a.cart{
   background: #444;
   color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
   background: #111;
}

.products-preview .preview .buttons a.buy:hover{
   background: #444;
   color:#fff;
}


@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: 25rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}
body{
	margin:0;
	padding:0;
}

.btn-ofertas{
cursor:pointer;
	position:relative;
	padding:10px 20px;
   color: #111;
	font-size:28px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	transition:all 1s;
	&:after,&:before{
		content:" ";
		width:10px;
		height:10px;
		position:absolute;
		border :0px solid #fff;
		transition:all 1s;
		}
	&:after{
		top:-1px;
		left:-1px;
		border-top:5px solid black;
		border-left:5px solid black;
	}
	&:before{
		bottom:-1px;
		right:-1px;
		border-bottom:5px solid black;
		border-right:5px solid black;
	}
	&:hover{
		border-top-right-radius:0px;
	border-bottom-left-radius:0px;
		&:before,&:after{	
			width:100%;
			height:100%
		}
	}
}
